parameters:
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    doctrine:
        allowNullablePropertyForRequiredField: true
    excludePaths:
        - vendor